*,
*::after,
*::before {
    box-sizing: border-box;
}



.dark-theme {
    --background-color: #1c1c1c;
    --container-color: #1f2937;
    --header-color: #ffffff;
    --button-color: #ffffff;
    --statment-color: #d5d4d8;
    --password-color: #2f3e53;
    --border-color: #2f3e53;
    --green: #10b981;
    --red: rgb(229, 57, 53);
    --yellow: rgb(253, 216, 53);
    --orange: rgb(251, 140, 0);
    --blue: rgb(30, 136, 229);
    --indigo: rgb(57, 73, 171);
    --violet: rgb(156, 39, 176);
    --white: #ffffff;

}

:root {
    --background-color: #1c1c1c;
    --container-color: #ECFDF5;
    --header-color: #2B283A;
    --statment-color: #6B7280;
    --password-color: #2f3e53;
    --border-color: #d5d4d8;
    --button-color: #ffffff;
    --green: #10b981;
    --red: rgb(229, 57, 53);
    --yellow: rgb(233, 195, 27);
    --orange: rgb(251, 140, 0);
    --blue: rgb(30, 136, 229);
    --indigo: rgb(57, 73, 171);
    --violet: rgb(156, 39, 176);
    --white: #ffffff;


    --theme-color: var(--green);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
    text-align: start;
}

.container {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 50%px;
    top: 50%px;
    background-color: var(--container-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#theme-picker-section {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-left: 53px;
}

input[type="radio"] {
    width: 17px;
    
}

input[type="radio"]:after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 1px solid var(--white);
    transition: .15s;
    margin-top: 7px;
}

input[type="radio"]:checked:after{
    background-color: var(--theme-color);
}

#top {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 0;

}

#icon {
    width: 30px;
    cursor: pointer;
    transition: .15s;
}

#icon:hover {
    opacity: .7;
}

#icon:active {
    opacity: .4;
}

.header {
    font-family: 'Karla', sans-serif;
    width: 354px;
    height: 80px;
    margin-left: 53px;
    margin-top: 95px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: var(--header-color);
    margin-bottom: 0;
    font-size: 40px;
}

#green {
    color: var(--theme-color);
}

.statment {
    width: 372px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    margin-left: 52px;
    margin-top: 5px;
    font-size: 20px;
    line-height: 140%;
    color: var(--statment-color);
}

.generate-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    gap: 12px;
    width: 191px;
    height: 42px;
    margin-left: 52px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: var(--theme-color);
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    color: var(--button-color);
    border: none;
}

.generate-btn:hover {
    opacity: .75;
}

.generate-btn:active {
    opacity: .4;
}

.passwords {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid var(--border-color );
    margin-left: 52px;
    margin-right: 52px;
    padding-bottom: 40px;
    
}

.password-el {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 39px;
    background-color: var(--password-color);
    border-radius: 6px;
    text-align: center;
    margin: 0;
    color: var(--theme-color);
    font-family: 'Inter', sans-serif;
}

#gen-button {
    display: inline-flex;
}

/* #checkboxes {
    display: inline-flex;
    width: 290px;
    height: 50px;
    margin: 0;
    margin-left: 52px;
    accent-color: var(--green);
    color: var(--statment-color);
} */

#main-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
}



@media  only screen and (max-width: 390px) {
    .container {
        width: 330px;
        height: 330px;
        
    }

    body {
        position: fixed;
        margin-left: 190px;
    }

    .header {
        width: 200px;
        height: 50px;
        margin-left: 30px;
        margin-top: 30px;
        font-size: 20px;
    }

    .statment {
        width: 200px;
        height: 20px;
        margin-left: 30px;
        margin-top: 0;
        font-size: 10px;
    }

    .generate-btn {
        width: 100px;
        height: 30px;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .password-el {
        width: 130px;
        height: 30px;
        font-size: 10px;
        
    }
    
    #checkboxes {
        width: 200px;
        height: 30px;
        margin-left: 30px;
        font-size: 10px;
        
    }

    #theme-picker-section {
        width: 200px;
        margin-left: 25px;
    }

    input[type="radio"] {
        width: 2px;
        
    }

    .passwords {
        width: 270px;
        margin-left: 30px;
    }

}
